@page "/counter"
@using BlazorClean.Services
@inject CounterService CounterService

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    int currentCount = 0;

    protected override void OnInit()
    {
        currentCount = CounterService.CurrentCount;
    }
    void IncrementCount()
    {
        var updatedCount = CounterService.IncreaseCount();
        currentCount = updatedCount;
    }
}
