@page "/counter"
@using BlazorClean.Services
@inject CounterService CounterService
@implements IDisposable

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" onclick="@IncrementCount">Click me</button>

@functions {
    int currentCount = 0;

    protected override void OnInit()
    {
        currentCount = CounterService.CurrentCount;
        CounterService.CounterIncremented += CounterServiceOnCounterIncremented;
    }

    private void CounterServiceOnCounterIncremented(object sender, int e)
    {
        currentCount = e;
        Invoke(StateHasChanged);
    }

    void IncrementCount()
    {
        var updatedCount = CounterService.IncreaseCount();
        currentCount = updatedCount;
    }

    public void Dispose()
    {
        CounterService.CounterIncremented -= CounterServiceOnCounterIncremented;
    }
}
